body{
background-color:white;

}
.texte{
  width: 300px;
  border-radius: 30px;
  text-align: center;
}
.MovieListc{
  text-align: center;
color: aliceblue;
font-size: small;
font-style: italic;
display: flex;
flex-direction: column;
justify-content: space-around;
margin-top: 50px;
border-radius: 10px;
}

.movies-container{
  display: flex;
  justify-content: space-around;

}


.recherche{
  text-align: center;
  font-size: 20px;
  padding: 50px;
  background-color:white;
  height: 100px;
  padding: 2 rem 1 rem;
  color: white;

  

}
.ajouter input{
  padding: 8px;
  width: 350px;
  margin-top: 20px;
  height: 20px;
  margin-left: 40px;
  
}
.recherche input{
  width: 350px;
  height: 30px;
  margin-top: 20px;
  padding-left: 10px;
  border: solid 5px black;
  
}
.add{
  width: 100px;
  height: 40px;
  margin-left: 40px;
}
.recherche input{
font-size: 20px;
border-radius: 30px;
padding: auto;
color: red;
}
.buton{
text-align: center;


}
.Props{
  font-size: larger;
  font-style: italic;
  font-weight: 20;
  width: 300px;
 color: red;
}


